#langToggle input:checked + .toggle-bg .indicator {
      transform: translateX(70px);
  }




/* label */
.step-label {
  position: relative;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 6px 0px 0px 6px;
}

/* curved arrow */
.step-label::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  width: 10px;
  height: 100%;
  background: #57C4BD;
  clip-path: polygon(0 0, 100% 50%, 0 100%, 0% 100%, 0% 0);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}


/* label */
.step-label-2 {
  position: relative;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 6px 0px 0px 6px;
}

/* curved arrow */
.step-label-2::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    width: 11px;
    height: 100%;
    background: #E0DEDF;
    clip-path: polygon(0 0, 100% 50%, 0 100%, 0% 100%, 0% 0);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* label */
.step-label-3 {
  position: relative;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 6px 0px 0px 6px;
}

/* curved arrow */
.step-label-3::after {
    content: "";
    position: absolute;
    left: -9px;
    top: 0;
    width: 12px;
    height: 100%;
    background: #E0DEDF;
    clip-path: polygon(100% 0, 0 50%, 100% 100%, 100% 100%, 100% 0);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* label */
.step-label-4 {
  position: relative;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 6px 0px 0px 6px;
}

/* curved arrow */
.step-label-4::after {
    content: "";
    position: absolute;
    left: -9px;
    top: 0;
    width: 12px;
    height: 100%;
    background: #E0DEDF;
    clip-path: polygon(100% 0, 0 50%, 100% 100%, 100% 100%, 100% 0);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}



/*footer bottom animation*/
.pulse_wave {
  animation: bob 3s ease-in-out infinite;
  transform-origin: center;
}

/* Offsetting the timing so they don't move all at once */
.pulse_wave-1 {
  animation-delay: 0s;
}

.pulse_wave-2 {
  animation-delay: -0.8s;
}

.pulse_wave-3 {
  animation-delay: -1.6s;
}

@keyframes bob {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(15px);
  }
}